<!--all-users.vtl-->
<h1>List of All Artist Collaborators: </h1>

<ul>
#foreach($user in $users)
  <li><a href="/users/$user.getId()">$user.getName()</a></li>
#end
</ul>

<a href="/"><h3>Create an Account and Join Other Artists Today!</h3></a>
<!--all-users.vtl-->
