<!---delete-user-form---->

<h3>Are you sure you want to delete your account? This action cannot be undone!</h3>

<form action="/users/$user.getId()/user-deleted" method="post">
  <button type="submit" class="btn btn-danger">Delete Account</button>

</form>
<!---delete-user-form---->
